.main {
  background-color: #F7F7F7;
  min-height: 100vh;
  font-family: var(--font-roboto);
}

.main main {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 40px 50px 150px 50px;
}

.main section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* aside */

.main aside ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main aside li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  transition: background .5s, color .5s;
  font-size: var(--font-size-18px);
  font-weight: 400;
}

.active {
  background: var(--color-darkgray);
  color: white;
}

.preview {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* tape */
.tape {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
}

.tape__section {
  padding: 0px 30px;
}

.tape__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.runline {
  display: flex;
  background-color: var(--color-darkgray);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  overflow-x: hidden;
  white-space: nowrap;
  height: 40px;
  margin-top: 24px;
  max-height: 800px;
}
.runline__block {
  display: flex;
  align-items: center;
  gap: 25px;
  animation: scroll 5s linear infinite;
}

.runline__block div {
  display: flex;
  align-items: center;
  gap: 25px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}




.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  margin-bottom: 24px; 
  font-weight: 500;
}

/* readmore */

.readmore__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* incidents */

.incidents__block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}